azure-storage-blob==12.19.0
azureml==0.2.7
azureml_automl_core==1.54.0
azureml_automl_runtime==1.54.0
azureml_core==1.54.0
azureml_dataprep_native==38.0.0
azureml_dataprep_rslex==2.19.5
azureml_interpret==1.54.0
azureml_mlflow==1.54.0.post1
azureml_pipeline_core==1.54.0
azureml_pipeline_steps==1.54.0
azureml_telemetry==1.54.0
azureml_train_automl_client==1.54.0
azureml_train_automl_runtime==1.54.0.post1
azureml_train_core==1.54.0
azureml_train_restclients_hyperdrive==1.54.0
azureml_training_tabular==1.54.0
numpy==1.22.4
Pillow==10.0.0
Pillow==10.1.0
Requests==2.31.0
streamlit==1.12.0
